
/*
    Note: It is best to use a less version of this file ( see http://css2less.cc
    For the media queries use @screen-sm-min instead of 768px.
    For .omb_spanOr use @body-bg instead of white.
*/


html, body {height: 100%;}

#content-main {
	min-height: 100%;
}

#main-auth div.row:first-child{
	padding-top: 5em;
}

.img-thumbnail{
	height: auto;
	width: 400px;
}

.footer{
	position: relative;
	bottom: 0;
   	padding-top: 20px;
    width: 100%;
    height: 60px;
    padding-left: 100px;
   background-color: azure;
}

#navbarDropdown{
	margin-left: 5px;
}
#post_info{
	margin-left: 0;
}