{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}Post_List {% endblock %}

{% block content %}
    {% for post in object_list %}
        <div class="post">
            <p class="post_meta">
            <a class="blue" href="{{ post.author.profile.get_absolute_url }}">
                    {% if post.author.profile.photo %}
                        {% thumbnail post.author.profile.photo "24x24" crop="100% center" as im %}
                            <img src="{{ im.url}}" class="rounded" aria-haspopup="true" aria-expanded="false" >
                        {% endthumbnail %}
                    {% else %}
                        <img src="{% static 'img/base_auth/user_without_icon.jpg' %}" class="rounded" aria-haspopup="true" aria-expanded="false" style="width: 24px; height: 24px">
                    {% endif %}
                {{ post.author }}
            </a>
                <span class="post__time">{{ post.publish|date:"d.m.Y в H:i" }}</span>
            </p>
            <h2 class="post_title"><a class="link" href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
            <p class="tags">
                {% for tag in post.tags.all %}
                <a class="link tag-fonts" href="{% url "account:tagged" tag.slug %}">
                {{ tag.name }}
                </a>
                {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>

            <div class="post_body">
                {{ post.body|safe|truncatewords:"100"|linebreaks }}
            </div>
             <div class="row justify-content-between " id="post_info">
                 <div class="col-auto mr-5">
                     <a class="btn btn-outline-info" href="{{ post.get_absolute_url }}">Read more</a>
                 </div>
                 <div class="col-md-5 ml-auto border border-muted rounded" id="post_info2">
                     {% with total_likes=post.users_like.count users_like=post.users_like.all %}
                             {% if request.user not in users_like %}
                                 <i class="fa fa-heart fa-sm col-md-3 blue"> {{ total_likes }}</i>
                             {% else %}
                                 <i class="fa fa-heart fa-sm col-md-3 red"> {{ total_likes }}</i>
                             {% endif %}
                        {% endwith %}
                     <i class="fa fa-eye fa-sm col-md-3 offset-md-1 blue" >{{ post.hit_count.hits }}</i>
                     <i class="fa fa-comments fa-sm col-md-3 offset-md-1 blue">  {{ post.comment_set.count }}</i>
                 </div>
             </div>
           <br/>
            <br/>
            <br/>
        </div>
    {% empty %}
        <p>Статей не обнаружено :(</p>
    {% endfor %}

    {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                <span class="page-link">
                    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </span>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
            {% endif %}

            <li class="page-item active">
                <span class="page-link">
                    {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    <span class="sr-only">(current)</span>
                </span>
            </li>

            {% if page_obj.has_next %}
                <li class="page-item">
                    <span class="page-link">
                    <a href="?page={{ page_obj.next_page_number }}">Next</a>
                    </span>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Next</span>
                </li>
            {% endif %}
        </ul>
    {% endif %}

{% endblock %}

{% block sidebar %}
    <div class="sidebar">
        <div class="ads">
            <img class="img-fluid" src="{% static "img/ads.jpg"%}" >
        </div>
        <div class="sidebar-content">

            <ul class="list-group list-group-flush">
            <span>Most Viewed posts</span>
            {% for post in ordering_posts %}
                <li class="list-group-item"><a class="link" href="{{ post.get_absolute_url}}">{{ post.title }}</a>
                    <div class="post_info">
                        <i class="fa fa-eye fa-xs  blue" >{{ post.hit_count.hits }}</i>
                        <i class="fa fa-comments fa-xs offset-md-1 blue">  {{ post.comment_set.count }}</i>
                    </div>
                </li>

            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block domready %}
    $('.post_body').find('img:not(:first)').hide()
    $('.post_body').find('img').addClass('img-fluid')
{% endblock %}


