{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}Profile_List {% endblock %}

{% block content %}
    <br/>
    <br/>
    <h2>Users</h2>
    <br/>
    <form class="form" method="get">
          <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search" value="{{ request.GET.q }}"/>
    </form>
    <br/>
    <br/>
    <div class="dropdown-divider"></div>

    {% for profile in object_list %}
        <div class="row">
            <div class="col-lg-2">
                {% if profile.photo %}
                     {% thumbnail profile.photo "60x60" crop="80% center" as im %}
                         <a href="{{ profile.get_absolute_url }}"><img src="{{ im.url}}" class="mx-auto rounded-circle img-fluid "  alt="avatar"></a>
                      {% endthumbnail %}
                    {% else %}
                    <a href="{{ profile.get_absolute_url }}"><img src="{% static 'img/base_auth/user_without_icon.jpg' %}" class="rounded-circle img-fluid" style="width: 60px; height: 60px" alt="avatar"></a>
                {% endif %}
            </div>
            <div class="col-lg-10">
                <p class="text-left"><a class="link" href="{{ profile.get_absolute_url }}">{{ profile.user.get_full_name}}</a></p>
                <p class="text-left"><a href="{{ profile.get_absolute_url }}">{{ profile.user.email }}</a></p>
            </div>
        </div>
    {% empty %}
        <p>Пользователей не обнаружено :(</p>
    {% endfor %}

    {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                <span class="page-link">
                    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </span>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
            {% endif %}

            <li class="page-item active">
                <span class="page-link">
                    {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    <span class="sr-only">(current)</span>
                </span>
            </li>

            {% if page_obj.has_next %}
                <li class="page-item">
                    <span class="page-link">
                    <a href="?page={{ page_obj.next_page_number }}">Next</a>
                    </span>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Next</span>
                </li>
            {% endif %}
        </ul>
    {% endif %}

{% endblock %}
