{%  extends "base_auth.html" %}

{% block title %} Create an account {%  endblock %}

{% block content %}

<div class="container">

    <form class="form-horizontal" action="{% url 'account:sign_up' %}" autocomplete="off" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2>Registration</h2>
                <hr>
            </div>
        </div>
        {% for field in form %}
            <div class="row">
                <div class="col-md-3 field-label-responsive">

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ field.label }}
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            {{ field }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
            <div class="form-control-feedback">
                    <div class="help-block">
                        {{ field.help_text }}
                    <strong>
                         {{ field.errors }}
                    </strong>
                    </div>
            </div>
            </div>
        {% endfor %}
         <div class="row">
            <div class="col-md-3"></div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-success"><i class="fa fa-user-plus"></i> Register</button>
                </div>
         </div>

     </form>
</div>
{% endblock %}
